@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Cenfocinemas</h1>
    <p>Proyecto de ejemplo de uso de la arquitectura del curso de Proyecto II</p>
</div>
