@page
@model WebApp.Pages.UsersModel
@{
}
<script src="~/js/pages-controllers/UserViewController.js"></script>

<h1>Mantenimiento de usuarios</h1>
<div class="bs-docs-section">
    <div class="row">
        <legend>Listado de usuarios</legend>
        <div class="col-lg-12">
            <table id="tblUsers" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User Code</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Birth Date</th>
                        <th>Status</th>
                        <th>Phone Number</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>